body {
  position: relative;
}

.btn-outline-warning:hover {
  color: #080602;
}

footer {
  margin: 4em 0;
  font-size: smaller;
}

.jumbotron {
  color: #080602;
  margin: 2em 0;
  padding-top: 5em;
}

.section-title {
  margin-left: -5px;
}

.block-title {
}

nav {
  background-color: #181818;
}

.navbar-brand img {
  margin: 0.5em 0;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#f0ad4e' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#df8a13' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link.active {
  color: #df8a13;
}

#falcon-version:before {
  content: '|';
  padding-right: 1em;
  color: #999;
}

.img-logo-lg {
  position: relative;
  z-index: 10;
  left: 20px;
  max-height: 80px;
}

.bordered-block {
  box-shadow: 2px 2px 4px 0 #000;
}

@media (max-width: 768px) { 
  .collapse-on-sm {
    display: none;
  }
}
