body {
/*font-family:"Droid Sans";*/
font-family:"Josefin Sans";
background-color:#fefefe;
}

img.pull-right {
  margin-left: 10px;
}

.carousel {
margin-bottom:0
}

.carousel .container {
position:relative;
z-index:9
}

#primary-container {
  margin-top: 110px;
}

.carousel-control {
height:80px;
margin-top:0;
font-size:120px;
text-shadow:0 1px 1px rgba(0,0,0,.4);
background-color:transparent;
border:0
}

.carousel .item {
height:380px
}

.carousel .cover {
position:absolute;
top:0;
left:0;
min-width:100%;
height:380px;
background-image:url(../img/sky.jpg)
}

.carousel-caption {
background-color:transparent;
position:static;
max-width:600px;
padding:0;
margin-top:130px
}

.carousel-caption h1,.carousel-caption .lead {
margin:0;
line-height:1.25;
color: black;
}

.carousel-caption h1 {
text-shadow:1px 2px 2px #aaa
}


.carousel-caption .lead {
text-shadow:1px 2px 2px #fff
}

.carousel-caption h1 {
font-family:"Amethysta";
font-size:120px
}

.carousel-caption .btn {
margin-top:10px
}

.background-strip {
position:absolute;
z-index:-1;
height:220px;
width:100%;
padding:0;
margin:0;

background: rgba(245,237,226,1);
background: -moz-linear-gradient(top, rgba(245,237,226,1) 0%, rgba(245,228,204,1) 2%, rgba(201,171,127,1) 98%, rgba(159,136,100,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,237,226,1)), color-stop(2%, rgba(245,228,204,1)), color-stop(98%, rgba(201,171,127,1)), color-stop(100%, rgba(159,136,100,1)));
background: -webkit-linear-gradient(top, rgba(245,237,226,1) 0%, rgba(245,228,204,1) 2%, rgba(201,171,127,1) 98%, rgba(159,136,100,1) 100%);
background: -o-linear-gradient(top, rgba(245,237,226,1) 0%, rgba(245,228,204,1) 2%, rgba(201,171,127,1) 98%, rgba(159,136,100,1) 100%);
background: -ms-linear-gradient(top, rgba(245,237,226,1) 0%, rgba(245,228,204,1) 2%, rgba(201,171,127,1) 98%, rgba(159,136,100,1) 100%);
background: linear-gradient(to bottom, rgba(245,237,226,1) 0%, rgba(245,228,204,1) 2%, rgba(201,171,127,1) 98%, rgba(159,136,100,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ede2', endColorstr='#9f8864', GradientType=0 );
}

#nav {
padding-top:25px
}

#nav p {
  font-family: "Raleway"
}

.featurette-divider {
margin-top:40px;
border:none
}

.featurette {
overflow:hidden
}

.featurette-image {
margin-top:-120px
}

.featurette-image.pull-left {
margin-right:40px
}

.featurette-image.pull-right {
margin-left:40px
}

.featurette-heading {
font-size: bigger;
line-height:1;
letter-spacing:-1px
}

.featurette h2 {
padding-bottom:8px
}

table.benchmarks {
border-collapse:1;
border:1px solid #000;
margin-bottom: 2.5em;
font-family: "Raleway";
}

table.benchmarks tr td {
width:100px
}

table.benchmarks tr td:first-child {
width:260px
}

table.benchmarks tr th,table.benchmarks tr td {

text-align:right;
border:1px solid #000;
padding:10px
}

table.benchmarks tr.highlight td {
background-color:#eee5c7
}

table.benchmarks th {
font-weight: bold;
background-color:#DCDDE2;
background-image:-ms-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
background-image:-moz-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
background-image:-o-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(1,#DCDDE2));
background-image:-webkit-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
background-image:linear-gradient(to bottom,#FFF 0%,#DCDDE2 100%)
}

/* Thanks Daniel!

http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms
*/

#forkme {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  z-index: 10;
  left: -3.1em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  box-shadow: 0 0 1em #888;
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
#forkme a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

#rtd {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  z-index: 10;
  left: -4.5em;
  top: 4.5em;
  /* 45 deg ccw rotation */
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  box-shadow: 0 0 1em #888;
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

#rtd a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 8.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

#buzz {
  position: absolute;
  font-size: 20px;
  width: 350px;
  z-index: 10;
  left: 600px;
  bottom: 3px;
  color: black;
  text-shadow:1px 2px 2px #eee;
}

#buzz span {
  float: right;
  margin-right: 3em;
  text-shadow:1px 2px 2px #fff;
}

#falcon-version {
  font: bold 90% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  z-index: 10;
  margin: 10px 14px;
  right: -1px;
  top: 5px;
  color: black;
}

#falcon-version a {
}
