@font-face
{
  font-family:'Amethysta';
  font-style:normal;
  font-weight:400;
  src:local(Amethysta),local(Amethysta-Regular),url(http://c420059.r59.cf1.rackcdn.com/assets/css/Amethysta-Regular.ttf) format("truetype")
}

@font-face
{
  font-family:'Droid Sans';
  font-style:normal;
  font-weight:400;
  src:local('Droid Sans'),local(DroidSans),url(http://c420059.r59.cf1.rackcdn.com/assets/css/DroidSans.ttf) format("truetype")
}

@font-face
{
  font-family:'Droid Sans';
  font-style:normal;
  font-weight:700;
  src:local('Droid Sans Bold'),local(DroidSans-Bold),url(http://c420059.r59.cf1.rackcdn.com/assets/css/DroidSans-Bold.ttf) format("truetype")
}

body
{
  font-family:"Droid Sans";
  background-color:#fefefe
}

/* Carousel base class */
.carousel
{
  margin-bottom:0
}

.carousel .container
{
  position:relative;
  z-index:9
}

.carousel-control
{
  height:80px;
  margin-top:0;
  font-size:120px;
  text-shadow:0 1px 1px rgba(0,0,0,.4);
  background-color:transparent;
  border:0
}

.carousel .item
{
  height:500px
}

.carousel .cover
{
  position:absolute;
  top:0;
  left:0;
  min-width:100%;
  height:500px;
  background-color:#3e3e3e;
  background-image:url(http://c420059.r59.cf1.rackcdn.com/assets/images/sky.jpg)
}

.carousel-caption
{
  background-color:transparent;
  position:static;
  max-width:550px;
  padding:0 20px;
  margin-top:200px
}

.carousel-caption h1,.carousel-caption .lead
{
  margin:0;
  line-height:1.25;
  color:#fefefe;
  text-shadow:0 1px 1px rgba(0,0,0,0.7)
}

.carousel-caption h1
{
  font-family:"Amethysta";
  font-size:120px
}

.carousel-caption .btn
{
  margin-top:10px
}

.background-strip
{
  position:absolute;
  z-index:-1;
  height:220px;
  width:100%;
  padding:0;
  margin:0;
/* IE10 Consumer Preview */
  background-image:-ms-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
/* Mozilla Firefox */
  background-image:-moz-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
/* Opera */
  background-image:-o-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
/* Webkit (Safari/Chrome 10) */
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(1,#DCDDE2));
/* Webkit (Chrome 11+) */
  background-image:-webkit-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
/* W3C Markup, IE10 Release Preview */
  background-image:linear-gradient(to bottom,#FFF 0%,#DCDDE2 100%)
}

#nav
{
  padding-top:25px
}

.featurette-divider
{
  margin-top:160px;
  border:/* Space out the Bootstrap <hr> more */
none
}

.featurette
{
/*padding-top:20px;*/
/* Vertically center images part 1: add padding above and below text. */
  overflow:/* Vertically center images part 2: clear their floats. */
hidden
}

.featurette-image
{
  margin-top:/* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
-120px
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left
{
  margin-right:40px
}

.featurette-image.pull-right
{
  margin-left:40px
}

/* Thin out the marketing headings */
.featurette-heading
{
  font-size:50px;
  font-weight:300;
/*font-family:"Amethysta";*/
  line-height:1;
  letter-spacing:-1px
}

.featurette h2
{
  padding-bottom:8px
}

table.benchmarks
{
  border-collapse:1;
  border:1px solid #000
}

table.benchmarks tr td
{
  width:100px
}

table.benchmarks tr th,table.benchmarks tr td
{
  text-align:right;
  border:1px solid #000;
  padding:10px
}

table.benchmarks tr.highlight td
{
  background-color:#bbcedd
}

table.benchmarks th
{
  background-color: #DCDDE2;

  /* IE10 Consumer Preview */
  background-image:-ms-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
  /* Mozilla Firefox */
  background-image:-moz-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
  /* Opera */
  background-image:-o-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(1,#DCDDE2));
  /* Webkit (Chrome 11+) */
  background-image:-webkit-linear-gradient(top,#FFF 0%,#DCDDE2 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image:linear-gradient(to bottom,#FFF 0%,#DCDDE2 100%)
}

