name: Test website compile

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 14.x
    - run: npm ci
    - run: npm run build