name: Deploy page to production

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 14.x
    - run: npm ci
    - run: npm run build
    - uses: actions/upload-artifact@v5
      with:
        name: dist
        path: ./dist-prod/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v6
      with:
        name: dist
        path: ./dist/
    - uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
        cname: falconframework.org
